<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/Content/css/styles.css">
		<title>Portland Hair Salon</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					@if (@Model.Count == 0)
					{
					  <h2>You need to add a stylist before you can add clients</h2>
					}
					else
					{
					<h2>Add a new client</h2>
					<form class="add-new-client" action="/added-client" method="post">
						<div class="form-group">
							<label for="client-name">Enter a new client:</label>
	            <input type="text" class="form-control" name="client-name" id="client-name" placeholder="Client Name">
						</div>
						<div class="form-group">
							<label for="client-details">Enter the client's details:</label>
	            <input type="text" class="form-control" name="client-details" id="client-details" placeholder="Client Details">
						</div>
						<div class="form-group">
							<select name="client-stylist">
						    @foreach (var stylist in Model)
						    {
						      <option value="@stylist.GetId()">@stylist.GetStylistName()</option>
						    }
						  </select>
						</div>
	          <button class="btn" type="submit" name="button">Enter</button>
	        </form>
					}
				</div>
			</div>
      <div>
				<h2><a href="/">Return home</a></h2>
      </div>
		</div>
	</body>
</html>
